
*{
padding: 2px;
margin: 1px;
font-family: tahoma;
}


.logInform{
border: solid 4px blue;
justify-content: center;
display: flex;
border-radius: 7px;
margin: 25px;
padding: 15px;
}	


.logtainer{
border: solid 2px gray;	
margin: 2px;
padding: 10px;
border-radius: 5px;
margin: 5px;
padding: 10px;
}

.logIn{
padding: 5px;
margin: 5px
	
}

input[type=email], input[type=password], select {
width: 90%;
display: flex;
padding: 8px;
}

.logbutton{
justify-content:center;
display:flex;
background: #4287f5	;
border:none;
padding:2px;
font-size: 18px;
font-weight:20px;
color: white;
	
}

.logmein{
justify-content:center;
display:flex;
background: #4287f5;
border: none;

}